{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
  {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
  <h3>PHYS 511 - Fall 2024</h3>
  <h1>Log in with your university email</h1>
  <p>
    You will access the system using your University of Arizona login.
    The flow is that you sign in via Google but enter your official Arizona email, netid@arizona.edu.
    This will take you to the login flow for the University of Arizona and return you to this website when logged in.  </p>
  <h3>Enter your <span
    style="text-decoration: underline">netid@arizona.edu</span> email when prompted to sign in via Google.
  </h3>

  {% element form method="post" no_visible_fields=True %}
    {% slot actions %}
      {% csrf_token %}
      {% element button type="submit" %}
        {% trans "Continue to google" %}
      {% endelement %}
    {% endslot %}
  {% endelement %}
{% endblock content %}
