//to compile, run compile_from_and_to_gradebird.bat in c:\bootstrap\sass
$light: #F7F5E8;
$primary: #E17022;
$secondary: #EDCFAB;
$info: #83503F;
$success: #06813D;
$font-family-sans-serif: questrial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$input-btn-focus-width: 0.2rem;
$link-decoration: none;
$link-hover-decoration: underline;


// Navs

$nav-link-color: #000;
