{% extends "base.html" %}

{% block title %}
  Courses
{% endblock title %}
{% block content %}
  {% if registrations %}
    <h2>My Courses</h2>
    <ul>
      {% for registration in registrations %}
        <li>
          <a href="{% url 'selfgrade:course_detail' course_id=registration.course.id %}">{{ registration.course.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>This is the course page for PHYS 511, Fall 2024 (taught by Sam Gralla).  You have signed up with email {{ request.user.email }}.  If this is your official university email address and you are enrolled in the course, I will approve the registration.  Then you will be able to see course content and submit assignments.
      </p>
  {% endif %}
{% endblock content %}
